# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environnement virtuel
venv/
.env/

# Fichiers de configuration IDE
.vscode/
.idea/

# Fichiers de log
*.log

# Fichiers temporaires
*.tmp
*~

# Fichiers de système
.DS_Store
Thumbs.db
